# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
server/lerna-repo/packages/server/node_modules
server/lerna-repo/packages/server/project/node_modules
server/lerna-repo/packages/account manage/node_modules
server/lerna-repo/packages/database/node_modules

server/lerna-repo/packages/server/.vscode
server/lerna-repo/packages/.vscode