# See https://help.github.com/ignore-files/ for more about ignoring files.

# How to remove node_module
# https://gist.github.com/paulallies/0052fab554b14bbfa3ef 

# dependencies
server/lerna-repo/packages/admin-module/node_modules
server/lerna-repo/packages/client-project/node_modules
server/lerna-repo/packages/server-module/node_modules
